{% extends "network/layout.html" %}
{% load static %}

{% block header %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block body %}
    <div class="big-container px-3">
        
        <h1>{{ title }}</h1>
    
        <div class="border container-sm w-50 posts-container">
            <!-- Create new Post Section -->
            <section>
                <div id="compose-view" class="">
                    <h3>Create a new Post</h3>
                    <form class="compose-form text-right">
                        <div class="form-group">
                            <textarea class="form-control my-1" id="compose-body" placeholder="Share your Thoughts!"></textarea>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </section>

            <!-- Display Posts from You and Another -->
            <section>
                <div id="posts-view">
                </div>
            </section>

        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'network/posts.js' %}"></script>
<script type="text/babel" src="{% static 'network/likes.js' %}"></script>
{% endblock %}